/* CSS POUR LE SHORTCODE btns-commander */
/* Import de la police Inter pour l'affichage de la quantité */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
    box-sizing: border-box;
}
.btns_container {
    display: flex;
    justify-content: space-around;
}
.btns_increment_container {
    display: flex;
}
.btns_increment {
    display: flex;
    flex-direction: column;
}

/* Input Num */
#input_num {
    width: 51px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
    border: none;
    border-radius: 7px 0 0 7px;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}
/* Btns increment, decrement */
#btn_plus,
#btn_moins {
    width: 31px;
    height: 28px;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    border: none;
    background: #dc9f96;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn_plus {
    border-bottom: 1px solid #fff;
    border-radius: 0 7px 0 0;
    color: #fff;
}
#btn_moins {
    border-radius: 0 0 7px 0;
}
/* Btn submit Ok */
#submit_btn {
    /* display: block !important; */
    width: 100px;
    height: 56px !important;
    background: #e0b9b4 !important;
    border-radius: 7px !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 10px;
}
#submit_btn:hover {
    background: #c02e44 !important;
}
